{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}" type="text/css" media="all" />


<h1>{{ question.question_text }}</h1>

{% if error_message %}
    <p>{{ error_message }}</p>
{% endif %}

<form action="{% url 'polls:vote' question_id=question.id %}" method="POST" accept-charset="utf-8">
    {% csrf_token %}
    {% for c in choices %}
        <label for="choice{{ forloop.counter }}">{{ c.choice_text }}</label>
        <input type="radio" value="{{ c.id }}" name="choice" id="choice{{ forloop.counter }}">
        <br />
    {% endfor %}
    <input type="submit" name="" id="" value="Submit" />
</form>

<a href="{% url 'polls:index' %}">Index</a>
