{% load static %}
{% load leaflet_tags %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        {% leaflet_js %}
        {% leaflet_css %}
        <title>DetailPage</title>
        <style type="text/css" media="all">
            .leaflet-container { height: 600px; }
        </style>
        <script src="{% static 'js/leaflet.ajax.js' %}" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <h1>This is the detail page</h1>
        <h2>{{ reporter.name }}</h2>
        <h3>{{ reporter.location }}</h3>

        <hr />
        <hr />
        <hr />

        <script type="text/javascript" charset="utf-8">
            function map_init_basic(map, options){
               var geojsonPointLayer = new L.GeoJSON.AJAX("{% url 'load_markers' %}", {
                   onEachFeature:function(feature, layer) {
                        layer.bindPopup(feature.properties.name.toString() +  '<a href="http://www.google.com">Visit Google</a>"');
                    }
                });
               geojsonPointLayer.addTo(map);
            }
        </script>

        <div id="map">
            {% leaflet_map "worldmap" callback="map_init_basic" %}
        </div>
    </body>
</html>
