<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>title</title>
    </head>
    <body>
        <h1>testing name.html</h1>
        <form id="" action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit" />
            <hr />
            <!-- <table border="0" cellspacing="5" cellpadding="5"> -->
            <!--     {{form.as_table}} -->
            <!-- </table> -->
            <!-- <input type="submit" value="Submit" /> -->
            <hr />
            <!-- <ul> -->
            <!--     {{form.as_ul}} -->
            <!-- </ul> -->
            <!-- <input type="submit" value="Submit" /> -->
            <hr />
        </form>
    </body>
</html>
